.skills__list {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 0;
  margin-top: 80px;
  list-style: none;
  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      display: block;
      margin: 0 auto;
    }
    p {
      width: 90px;
      margin: 0 auto;
      margin-top: 20px;
      font-size: 14px;
      font-weight: 700;
      text-align: center;
      color: #828282;
    }
  }
  .skills__rating {
    position: absolute;
    bottom: -50px;
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 170px;
    list-style: none;
  }
}

@media (max-width: 480px) {
  .skills__list {
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    &-item {
      margin-top: 82px;
      &:first-child {
        margin-top: 0;
      }
    }
    .skills__rating {
      position: static;
      margin-top: 40px;
    }
  }
}
